[submodule "vendor/github.com/nlopes/slack"]
	path = vendor/github.com/nlopes/slack
	url = https://github.com/nlopes/slack
[submodule "vendor/github.com/renstrom/fuzzysearch"]
	path = vendor/github.com/renstrom/fuzzysearch
	url = https://github.com/renstrom/fuzzysearch
[submodule "vendor/github.com/nsf/termbox-go"]
	path = vendor/github.com/nsf/termbox-go
	url = https://github.com/nsf/termbox-go
[submodule "vendor/github.com/mattn/go-runewidth"]
	path = vendor/github.com/mattn/go-runewidth
	url = https://github.com/mattn/go-runewidth
[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "vendor/github.com/frizinak/gnotifier"]
	path = vendor/github.com/frizinak/gnotifier
	url = https://github.com/frizinak/gnotifier
[submodule "vendor/github.com/mitchellh/go-wordwrap"]
	path = vendor/github.com/mitchellh/go-wordwrap
	url = https://github.com/mitchellh/go-wordwrap
[submodule "vendor/github.com/frizinak/gocui"]
	path = vendor/github.com/frizinak/gocui
	url = https://github.com/frizinak/gocui
